<section class="new-training" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex.xs="100%" fxFlex.gt-xs="400px">
        <mat-card-title fxLayoutAlign="center" fxLayoutGap="10px">Time to start a workout!</mat-card-title>
        <mat-card-content>
            <mat-form-field appearance="fill" fxLayoutAlign="center">
                <mat-label>Favorite food</mat-label>
                <mat-select placeholder = "Select an excercise!">
                  <mat-option value="Crunches">
                    Crunches
                  </mat-option>
                  <mat-option value="Pushups">
                    Pushups
                  </mat-option>
                  <mat-option value="Pullups">
                    Pullups
                  </mat-option>
                </mat-select>
            </mat-form-field>
              
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button mat-raised-button type="submit" (click) ="onStartTraining()">Start!</button>
        </mat-card-actions>
    </mat-card>
</section>
